apiVersion: v1
kind: Service
metadata:
  name: kong-cp
  namespace: kong
  labels:
    app: kong
spec:
  type: NodePort
  selector:
    deploymentconfig: kong-cp
  ports:
    - port: 8001
      name: admin
    - port: 8005
      name: cp-traffic
